* {
     user-select: none; 
}

.container {
    width: 99vw; height: 98vh;
    overflow: hidden;
    position: absolute;
}

.Button{
    background-color: rgb(32, 188, 216);
    position: absolute;
    top: 0;
  }